/* CourseList.css */

#CourseList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #CourseList th,
  #CourseList td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  #CourseList th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  #CourseList td {
    text-align: left;
  }
  
  