/* Filename: App.css
   Purpose: Styling specific to the App component of the School dashboard app
*/

/* Define custom CSS variables */
:root {
    --holberton-red: #e1484c;
  }
  
  /* Set max width for body content and center it */
  body {
    max-width: 95%;
    margin: 0 auto;
  }
  
  /* Define padding for all div elements */
  div {
    padding: 2px 8px;
  }
  
  /* Styles for the main app container */
  .App {
    position: relative;
    min-height: 100vh;
  }
  
  /* Styles for the header section */
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 3px solid var(--holberton-red);
  }
  
  /* Styles for the logo in the header */
  .App-header img {
    width: 200px;
  }
  
  /* Styles for the header text */
  .App-header h1 {
    margin: auto auto auto 0;
    color: var(--holberton-red);
  }
  
  /* Styles for the main body content */
  .App-body p {
    margin: 48px 0 0 32px;
  }
  
  /* Styles for the footer section */
  .App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Styles for the footer text */
  .App-footer p {
    text-align: center;
    border-top: 3px solid var(--holberton-red);
    padding: 16px 0;
  }
  